[Unit]
Description=Minecraft log forwarder
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/zztkm/srv/genkai-mc-server
ExecStart=/home/zztkm/.deno/bin/deno run --allow-read --allow-net logForwarder.ts log_forwarder_config.json
Restart=on-failure

[Install]
WantedBy=default.target
