[Unit]
Description=timer for minecraft server restart
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/zztkm/srv/genkai-mc-server
ExecStart=docker compose restart

[Install]
WantedBy=default.target
